{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <!-- <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"> -->
    {% endblock  %}
    <title>INDEX</title>
</head>
<body>
    {% block content %}
    <div class="content">
        <div class="centralizado-wrapper">
            <div class="centralizado">
                <h2>Olá {{request.user}}</h2>
                <p>Esta é a pagina inicial do sistema, esta mensagem é designada para cada usuario de maneira diferente, siga os passo a risca para o melhor uso do sistema.
                </p>
                {% if perms.registry.view_person %}
                <p></p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock  %}
    
    {% block script %}
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
    {% endblock  %}
</body>
</html>