{% extends "login/menu.html" %}
<!-- {% load bootstrap4 %} -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/Forms.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    {% endblock %}
    <title>{% if compra.pk %}Editar{% else %}Criar{% endif %} Compra</title>
    {% bootstrap_css %}
    <style>
        input[readonly] {
            background-color: #e9ecef; /* Cinza claro */
            color: #6c757d; /* Texto cinza escuro */
            cursor: not-allowed; /* Cursor indicando que não é editável */
        }
    </style>
    
</head>
<body>
    <main>
        {% bootstrap_messages %}
        {% block content %}
        <div class="content">
            <div class="center">
                <!-- <h4 class="mt-5 mb-5 c-adapted">{% if Compra.pk %}Editar{% else %}Criar{% endif %} Compra</h4> -->

                <form method="post">
                    {% csrf_token %}
                
                    <!-- Formulário de Compra -->
                    <h6>Dados da Compra</h6>
                    <!-- {{ compra_form.as_p }} -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Pessoa
                                </th>
                                <th scope="col">
                                    Data da Compra
                                </th>
                                <th scope="col">
                                    Situação
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td id="form-client" class="">
                                    {{compra_form.fornecedor.as_hidden}}
                                <input type="text" class="row form-control" id="idSearch">
    
                                </td>
                                <td style="width: 200px;"> 
                                    <!-- <div class="input-group date" id="date_purchase" data-provide="datepicker">
                                        {{compra_form.data_da_compra}}
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div> -->

                                    <div class="input-group date" data-provide="datepicker" id="data_da_compra">
                                        {{compra_form.data_da_compra}}
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </td>
                                <td>{{compra_form.situacao}}</td>
                            </tr>
                            <tr>
                                <td class="z-2 position-absolute suggest">
                                    <div id="options-1" class="row form-control ">
                                        <p id="title-client" class="text-center">ID - CLIENTE</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <!-- Itens de Compra -->
                    <h6>Itens de Compra</h6>
                    <div id="itens-container">      
                        {{ compra_item_formset.management_form }}
                        {% for form in compra_item_formset %}
                            <div class="item-form">
                                <!-- {{ form.as_p }} -->
                                  <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Produto
                                            </th>
                                            <th scope="col">
                                                Quantidade
                                            </th>
                                            <th scope="col">
                                                Preço Unitário
                                            </th>
                                            <th scope="col">
                                                Desconto(%)
                                            </th>
                                            <th scope="col">
                                                Valor Total
                                            </th>
                                            <th scope="col">
                                                Ações
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody class="itens">
                                        <tr>
                                            <td >{{form.produto.as_hidden}}
                                                <input type="text" class="row form-control" id="idProduct-0">
                                            </td>
                                            
                                            <td>
                                                {{form.quantidade}}    
                                            </td>
                                            <td>
                                                {{form.preco_unitario}}
                                            </td>
                                            <td>
                                                {{form.discount}}
                                            </td>
                                            <td>
                                                {{form.price_total}}
                                            </td>
                                            <td>
                                                <button  type="button" class="btn btn-danger delete" onclick="removePayment(this)">Deletar</button>
                                                {{ form.DELETE.as_hidden }}
                                            </td>
                                        </tr>

                                        <tr class="tre">
                                            <td class="z-2 position-absolute suggest">
                                                <div id="options_products-0" class="row form-control z-1 field-product v">
                                                    <p class="text-center  title-product">CODIGO - DESC</p>

            
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>
                            </div>
                        {% endfor %}
                        
                    </div>
                    <template id="empty-form-template">
                        <div class="item-form">
                            <!-- {{ compra_item_formset.empty_form.as_p }} -->
                            <table class="table">
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr >
                                        <td>{{ compra_item_formset.empty_form.produto.as_hidden }}
                                            <input type="text" class="row form-control inputProduct">
                                            <div class="mt-3 field-product row">
                                    
                                            </div>
                                        </td>
                                        
                                        <td>
                                            {{compra_item_formset.empty_form.quantidade}}
                                        </td>
                                
                                        <td>
                                            {{compra_item_formset.empty_form.preco_unitario}}
                                        </td>

                                        <td>
                                            <!-- <input type="number" class="form-control row descont"> SUPER IMPORTANTE -->
                                            {{compra_item_formset.empty_form.discount}}
                                        </td>
                                        <td>
                                            <!-- <input type="number" class="form-control row totalValue" readonly> -->
                                            {{compra_item_formset.empty_form.price_total}}
                                        </td>
                                        <td>
                                            <button  type="button" class="btn btn-danger delete" onclick="removePayment(this)">Deletar</button>
                                            {{compra_item_formset.empty_form.DELETE.as_hidden}}</td>
                                    </tr>
                                    <tr class="tre">
                                        <td class="z-2 position-absolute suggest ">
                                            <div id="" class="row form-control z-1 v">
                                                <p class="text-center title-product">CODIGO - DESC</p>

        
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                              </table>
                        </div>
                    </template>
                    <button id="item" type="button" onclick="addItem()" class="btn btn-outline-success mb-5">Adicionar Item</button>
                
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Total de Produtos
                                </th>
                                <th scope="col">
                                    Valor de Desconto
                                </th>
                                <th scope="col">
                                    Valor Total
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <!-- <input type="text" id="id_all_total_products" readonly> -->
                                    {{compra_form.product_total}}
                                </td>
                                <td>
                                    <!-- <input type="text" id="id_all_total_discount" readonly> -->
                                    {{compra_form.discount_total}}
                                </td>
                                <td>
                                    <!-- <input type="text" id="id_all_total_value"readonly> -->
                                    {{compra_form.total_value}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Formas de Pagamento -->
                    <h6>Formas de Pagamento</h6>
                    <div class="form-row">
                        <table class="table" id="paymentMethod_account">
                            <thead>

                                <tr>
                                    <th scope="col">
                                        {{form_Accounts.numberOfInstallments.label}}
                                    </th>
                                    <th scope="col">
                                        {{form_Accounts.date_init.label}}
                                    </th>
                                    <th scope="col">
                                        {{form_Accounts.installment_Range.label}}
                                    </th>
                                    <th scope="col">
                                        {{ form_Accounts.totalValue.label}}
                                    </th>
                                    <th scope="col">
                                        
                                    </th>
                                </tr>
                            </thead>
        
                            <tbody>
                                <tr>
                                    <td>{{form_Accounts.numberOfInstallments}}</td>
                                    <td>
                                        <div class="input-group date" data-provide="datepicker" id="date_init">
                                            {{ form_Accounts.date_init }}
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{form_Accounts.installment_Range}}</td>
                                    <td>{{ form_Accounts.totalValue}}</td>
                                    <td>
                                        <button id="generate" type="button">GERAR</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="payment-method-container">
                        {{ form_payment_account.management_form }}
                        <div style="display: none;">
                        {% for form in form_payment_account %}
                            <div class="form-row">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                {{form.forma_pagamento.label}}
                                            </th>
                                            <th scope="col">
                                                {{form.expirationDate.label}}
                                            </th>
                                            <th scope="col">
                                                {{ form.days.label}}
                                            </th>
                                            <th scope="col">
                                                {{form.value.label}}
                                            </th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{form.forma_pagamento}}</td>
                                                <td>
                                                    <div class="input-group date" data-provide="datepicker">
                                                        {{form.expirationDate}}
                                                        <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-th"></span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{form.days}}</td>
                                                <td>{{form.value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                                {% endfor %}
                        </div>
                    </div>
                    <!-- <div class="row">

                        <div class="col">
                            <label for="">{{compra_form.observacao_pessoas.label}}</label>
                            {{compra_form.observacao_pessoas}}
                        </div>

                        <div class="col">
                            <label for="">{{compra_form.observacao_sistema.label}}</label>
                            {{compra_form.observacao_sistema}}
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col mt-5 text-end">
                            <button  type="submit" class="btn bg-adapted">SALVAR VENDA</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        
        <template id="empty-payment-method-form">
            <div class="form-row" id='del' >
                <table class="table" id='table'>
                    <thead>
                        <tr>
                        </tr>
                    </thead>
    
                    <tbody> 
                        <tr>
                            <td>{{ form_payment_account.empty_form.forma_pagamento }}</td>
                            <td>
                                <div id="payment_method" class="input-group date" data-provide="datepicker">
                                    {{form_payment_account.empty_form.expirationDate}}
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </td>
                            <td>{{ form_payment_account.empty_form.days }}</td>
                            <td>{{form_payment_account.empty_form.value}}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </template>
        <script type="text/javascript" src="{% static 'js/jquery-3.7.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/mask.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/interest.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.pt-BR.js' %}"></script>
        <script src="{% static 'js/cep_api.js' %}"></script>
        <script src="{% static 'js/date.js' %}"></script>
        <script src="{% static 'js/addItem.js' %}" defer></script>
        <script src="{% static 'js/clientSearch.js' %}"></script>  <!-- pesquisa clientes -->
        {% comment %} <script src="{% static 'js/compra_item.js' %}"></script> <!-- pesquisa produtos em compras --> {% endcomment %}
        {% endblock %}     
    </main>
</body>
</html>
