{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}
        <div class='content'>
            <div class="position-absolute  start-50">
                <div class="">
                    {% if messages %}
                        {% for message in messages %}
                            {% if "successShopping" in message.tags %}
                            <div style="max-height: 50px; max-width: 400px;" class="successContainer"> 
                                <div class="alert {{ message.tags }} alert-success ">
                                    <strong>Sucesso!</strong>
                                {{ message }}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            
            <div class="container">
                <a href="{% url 'compras_create' %}">
                    <button class="btn btn-success">Criar nova Compra</button>
                </a>
                <div class="form-group">
                    <form method="GET" action="{% url 'Client' %}">
                        {% csrf_token %}
                        <div>
                            {{ form.as_p }}
                            <!-- <button type="submit">Pesquisar</button> -->
                        </div>
                    </form>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        {% for field, label in colunas %}
                                <th>
                                    <a href="?sort={{ field }}&dir={% if current_dir == 'asc' %}desc{% else %}asc{% endif %}" style="color:inherit;text-decoration: none;">
                                        {{ label }}
                                            {% if current_dir == 'asc' %}
                                                ▲
                                            {% else %}
                                                ▼
                                            {% endif %}
                                    </a>
                                </th>

                              
                        
                        {% endfor %}
                        <th>Ações</th>
                    </tr>
                    
                </thead>
                <tbody>
                    {% for compra in compras %}
                    <tr>
                        <td>{{ compra.id }}</td>
                        <td>{{ compra.fornecedor }}</td>
                        <td>{{ compra.situacao }}</td>
                        <td>
                            <!-- <a href="{% url 'compras_update' pk=compra.pk %}">Editar</a>
                            <a href="{% url 'compras_delete' pk=compra.pk %}"class="delete-button" data-id="{{ Position.id }}" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</a> -->
                            <a href="{% url 'compras_update' pk=compra.pk %}">
                                <button class="btn" style="background-color: #117027;color: white;">Editar</button>
                            </a>
                            <form action="{% url 'compras_delete' pk=compra.pk %}" method="POST" style="display:inline-block;">
                                {% csrf_token %}
                                <button type="submit" class="btn" style="background-color: rgb(139, 16, 16);color: white;" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
        {% endblock %}
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </body>
</html>