{% extends "login/menu.html" %}
<!-- {% load bootstrap4 %} -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/Forms.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
    {% endblock %}
    <title>{% if compra.pk %}Editar{% else %}Criar{% endif %} Compra</title>
    {% bootstrap_css %}
    <style>
        input[readonly] {
            background-color: #e9ecef; /* Cinza claro */
            color: #6c757d; /* Texto cinza escuro */
            cursor: not-allowed; /* Cursor indicando que não é editável */
        }
    </style>
    
</head>
<body>
    <main>
        {% bootstrap_messages %}
        {% block content %}
        <div class="content">
            <div class="container-fluid justify-content-center align-items-center">
                <form method="post">
                    {% csrf_token %}
                
                    <div class="col d-flex mb-5 gap-4 mt-5">
                        <a href="{% url 'compras_list' %}">
                            <button type="button" class="btn btn-voltar">
                                <i class="fas fa-arrow-left"></i> 
                            </button>
                        </a>    
                       <h4 class="c-adapted">{% if Compra.pk %}Editar{% else %}Criar{% endif %} Compra</h4>
                    </div>
                    <!-- Formulário de Compra -->
                    <h6>Dados da Compra</h6>
                      
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Pessoa
                                </th>
                                <th scope="col">
                                    Data da Compra
                                </th>
                                <th scope="col">
                                    Situação
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td id="form-client" class="">
                                    {{compra_form.fornecedor.as_hidden}}
                                    <div>
                                        <input type="text" class="row form-control mb-3 mt-3" id="idSearch" onkeyup="showSuggetions(this)">
                                        <div id="suggestions" class="suggetions">
                                            
                                        </div>
                                    </div>
                                <td style="width: 200px;"> 
                                    {{compra_form.data_da_compra}}
                                </td>
                                <td>{{compra_form.situacao}}</td>
                            </tr>
                          
                        </tbody>
                    </table>
                    
                    <!-- Itens de Compra -->
                    <h6 class="mt-5 mb-3">Itens de Compra</h6>
                    <div id="itens-container">      
                        {{ compra_item_formset.management_form }}
                        {% for form in compra_item_formset %}
                            <div class="item-form">
                                  <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Produto
                                            </th>
                                            <th scope="col">
                                                Quantidade
                                            </th>
                                            <th scope="col">
                                                Preço Unitário
                                            </th>
                                            <th scope="col">
                                                Desconto(%)
                                            </th>
                                            <th scope="col">
                                                Valor Total
                                            </th>
                                            <th scope="col">
                                                Status
                                            </th>
                                            <th scope="col">
                                                Ações
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody class="itens">
                                        <tr>
                                            <td >{{form.produto.as_hidden}}
                                                <input type="text" class="row form-control mb-3 mt-3" id="idProduct-0" onkeyup="showSuggetionsProducts(this)">
                                                <div id="products-0" class="suggetions">
                                                </div>
                                            </td>
                                          
                                            <td>
                                                {{form.quantidade}}    
                                            </td>
                                            <td>
                                                {{form.preco_unitario}}
                                            </td>
                                            <td>
                                                {{form.discount}}
                                            </td>
                                            <td>
                                                {{form.price_total}}
                                            </td>
                                            <td>
                                                {{form.status}}
                                            </td>
                                            <td>
                                                <button  type="button" class="btn btn-danger delete mb-3 mt-3" onclick="removeItem(this)">Deletar</button>
                                                {{ form.DELETE.as_hidden }}
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>
                            </div>
                        {% endfor %}
                        
                    </div>
                    <template id="empty-form-template">
                        <div class="item-form">
                            <table class="table">
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr >
                                        <td>{{ compra_item_formset.empty_form.produto.as_hidden }}
                                            <input type="text" class="row form-control mb-3 mt-3" onkeyup="showSuggetionsProducts(this)">
                                            <div class="suggetions">
                                    
                                            </div>
                                        </td>
                                        <td>
                                            {{compra_item_formset.empty_form.quantidade}}
                                        </td>
                                
                                        <td>
                                            {{compra_item_formset.empty_form.preco_unitario}}
                                        </td>

                                        <td>
                                            {{compra_item_formset.empty_form.discount}}
                                        </td>
                                        <td>
                                            {{compra_item_formset.empty_form.price_total}}
                                        </td>
                                        <td>
                                            {{compra_item_formset.empty_form.status}}
                                        </td>
                                        <td>
                                            <button  type="button" class="btn btn-danger delete" onclick="removePayment(this)">Deletar</button>
                                            {{compra_item_formset.empty_form.DELETE.as_hidden}}</td>
                                    </tr>
                                </tbody>
                              </table>
                        </div>
                    </template>
                    <button id="item" type="button" onclick="addItem()" class="btn btn-outline-success mb-5">Adicionar Item</button>
                
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Total de Produtos
                                </th>
                                <th scope="col">
                                    Valor de Desconto
                                </th>
                                <th scope="col">
                                    Valor Total
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    {{compra_form.product_total}}
                                </td>
                                <td>
                                    {{compra_form.discount_total}}
                                </td>
                                <td>

                                    {{compra_form.total_value}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Formas de Pagamento -->
                    <h6 class="mt-5 mb-3">Geração de Parcelas - Produtos</h6>

                   
                    {% include 'parcela.html' %}
                
                    <h6 class="mt-5 mb-3">Geração de Parcelas - Imposto </h6>
                    {{compra_form.tax_value.label}}
                    {{compra_form.tax_value}}

                    {% include 'parcelaImposto.html' %}

                    {{compra_form.observation_tax.label}}
                    {{compra_form.observation_tax}}

                    <h6 class="mt-5 mb-3">Frete</h6>
                    {{compra_form.freight_type.label}}
                    {{compra_form.freight_type}}

                    {{compra_form.observation_freight.label}}
                    {{compra_form.observation_freight}}

                    <h6 class="mt-5 mb-3">Romaneio</h6>
                    {{compra_form.value_picking_list.label}}
                    {{compra_form.value_picking_list}}

                    {{compra_form.observation_picking_list.label}}
                    {{compra_form.observation_picking_list}}

                    <div class="row">
                        <div class="col mt-5 text-end">
                            <button  type="submit" class="btn bg-adapted">Enviar</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        
        
        <!-- {% include 'script.html' %} -->
        <script src="{% static 'js/addItem.js' %}" defer></script>
        <script src="{% static 'js/new.js' %}"></script> 
        <script src="{% static 'js/tax.js' %}"></script> 
        <!-- <script src="{% static 'js/clientSearch.js' %}"></script>  pesquisa clientes -->
        {% comment %} <script src="{% static 'js/compra_item.js' %}"></script> <!-- pesquisa produtos em compras --> {% endcomment %}
        {% endblock %}     
    </main>
</body>
</html>
