{% extends 'login/menu.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/Table.css' %}">
<link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock %}

{% block content %}
<div class="content">

    {# Mensagens condicionais (erro na expedição) #}
    {% if messages %}
        {% for message in messages %}
            {% if "delivery_page" in message.tags %}
            <div class="modal">
                <header class="mHeader">
                    <p>Falha ao entregar produto</p>
                </header>
                <div class="alert {{ message.tags }} mBody">
                    {{ message }}
                </div>
                <footer>
                    <button id="mBtn" class="mButton" type="button" onclick="closeModal(this)">Fechar</button>
                </footer>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {# Filtro opcional (ex: cliente) #}
    <div class="container">
        <div class="form-group">
            <form method="GET" action="{% url 'Client' %}">
                {% csrf_token %}
                {{ form.as_p }}
            </form>
        </div>
    </div>

    <!-- <h2>{{ type }} Produtos</h2> -->
    <table>
        <thead>
            <tr>
                <th>Id da Ordem</th>
                <th>Id da Venda</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Id do Produto</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for product in all_products_with_status %}
            <tr>
                <td>{{ product.idVendaServico|default:"-" }}</td>
                <td>{{ product.idVenda|default:"-" }}</td>
                <td>{{ product.descricao }}</td>
                <td>{{ product.quantidade }}</td>
                <td>{{ product.idProduto }}</td>
                <td>
                    {% if type == "Pendente" %}
                        <a href="{% url 'expedition_product' pk=product.idVendaItem %}">
                            <button class="btn" style="background-color: #117027; color: white;">Expedir</button>
                        </a>
                    {% elif type == "Entregue" %}
                        <a href="{% url 'return_product' pk=product.id %}">
                            <button class="btn" style="background-color: #117027; color: white;">Devolver</button>
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'js/statusProducts.js' %}"></script>
<script src="{% static 'js/error.js' %}"></script>
{% endblock %}
