{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        <link rel="stylesheet" href="{% static 'css/error.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}
        {% if type == "Pendente" %}
            <div class='content'>
            {% if messages %}
                {% for message in messages %}
                    {% if "delivery_page" in message.tags %}
                    <div class="modal"> 
                        <header class="mHeader">
                            <p>Falha ao entregar produto</p>
                        </header>
                    
                        <div class="alert {{ message.tags }} mBody">
                            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, illum atque. Doloremque, dolor ipsum labore numquam quaerat doloribus, incidunt provident suscipit maiores dicta animi, itaque at reiciendis exercitationem assumenda odit?</p> -->
                        {{ message }}

                        </div>
                
                        <footer>
                            <button id="mBtn" class="mButton" type="button" onclick="closeModal(this)">Fechar</button>
                        </footer>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
                <div class="container">
                    <div class="form-group">
                        <form method="GET" action="{% url 'Client' %}">
                            {% csrf_token %}
                            <div>
                                {{ form.as_p }}
                                <!-- <button type="submit">Pesquisar</button> -->
                            </div>
                        </form>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>IdOS</th>
                            <th>IdVenda</th>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th >IDPRODUTO</th>
                            <th>Status</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in all_products_with_status %}
                        <tr>
                            <td>{{ product.idOS }}</td>
                            <td>{{ product.idVenda }}</td>
                            <td>{{ product.descricao }}</td>
                            <td>{{ product.quantidade }}</td>
                            <td id="idProduct">{{product.idProduto}}</td>
                            <td>
                                <form action="{% url 'update_product_quantity' pk=product.idProduto %}" method="POST" class="delete-form">

                                    {% csrf_token %}
                                    <input type="hidden" name="id_venda" value="{{ product.idVendaItem }}">
                                    <select class="status-select" data-venda-id="{{ product.idVendaItem }}">
                                        {% for status in status_options %}
                                            <option value="{{ status }}" {% if status == product.status %}selected{% endif %}>{{ status }}</option>
                                        {% endfor %}
                                    </select>
                                    
                                </form>
                                
                            </td>
                            
                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        {% elif type == "Entregue" %}
        <div class='content'>
            {% if messages %}
                {% for message in messages %}
                    {% if "delivery_page" in message.tags %}
                    <div class="modal"> 
                        <header class="mHeader">
                            <p>Falha ao entregar produto</p>
                        </header>
                    
                        <div class="alert {{ message.tags }} mBody">
                            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, illum atque. Doloremque, dolor ipsum labore numquam quaerat doloribus, incidunt provident suscipit maiores dicta animi, itaque at reiciendis exercitationem assumenda odit?</p> -->
                        {{ message }}

                        </div>
                
                        <footer>
                            <button id="mBtn" class="mButton" type="button" onclick="closeModal(this)">Fechar</button>
                        </footer>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
                <div class="container">
                    <div class="form-group">
                        <form method="GET" action="{% url 'Client' %}">
                            {% csrf_token %}
                            <div>
                                {{ form.as_p }}
                                <!-- <button type="submit">Pesquisar</button> -->
                            </div>
                        </form>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Id da Ordem</th>
                            <th>Id da VendaVenda</th>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th >Id do Produto</th>
                            <th>Status</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in all_products_with_status %}
                        <tr>
                            <td>{{ product.idOS }}</td>
                            <td>{{ product.idVenda }}</td>
                            <td>{{ product.descricao }}</td>
                            <td>{{ product.quantidade }}</td>
                            <td id="idProduct">{{product.idProduto}}</td>
                            <td>
                                <a href="{% url 'return_product' pk=product.id %}">
                                    <button class="btn" style="background-color: #117027;color: white;" >Devolver</button>
                                </a>
                               
                                
                            </td>
                            </tr>
                            {% endfor %}
                           
                    </tbody>
                </table>
            </div> 
        {% endif %}
        <!-- <script type="text/javascript" src="{% static 'js/script.js' %}"></script> -->
        <script  src="{% static 'js/statusProducts.js' %}"></script>
        <script src="{% static 'js/error.js' %}"></script>

        {% endblock %}
        
    </body>
</html>