{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <meta name="csrf-token" content="{{ csrf_token }}">
        <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}
        <div class='content'>
            <div class="position-absolute  start-50">
                <div class="">
                    {% if messages %}
                        {% for message in messages %}
                            {% if "successProduct" in message.tags %}
                            <div style="max-height: 50px; max-width: 400px;" class="successContainer"> 
                                <div class="alert {{ message.tags }} alert-success ">
                                    <strong>Sucesso!</strong>
                                {{ message }}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="container">
                <a href="{% url 'ProductForm' %}">
                    <button class="btn btn-success">Cadastrar</button>
                </a>
                <div class="form-group">
                    <form method="GET" action="{% url 'Product' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <label for="" class="">{{form.search.label}}</label>
                                {{form.search}}
                                <div class="col-sm-8" id="search_sale">
                                    <input type="text" id="searchInput"  class="search-input" value="{{ request.GET.query }}" placeholder="Pesquisar produto(s)"> 
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="messageContainer"></div>
            <table >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descrição</th>
                        <th>Codigo do Produto</th>
                        <th>Preço de Venda</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="results">  
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.product_code }}</td>
                    <td>{{ product.selling_price }}</td>
                    <td>
                        <!-- <a href="{% url 'updateProduct' id_product=product.id %}">Editar</a>

                        <a href="{% url 'deleteProduct' id_product=product.id %}" type="submit" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</a> -->
                        <a href="{% url 'updateProduct' id_product=product.id %}">
                            <button class="btn" style="background-color: #117027;color: white;">Editar</button>
                        </a>
                        <form action="{% url 'deleteProduct' id_product=product.id %}" method="POST" style="display:inline-block;">
                            {% csrf_token %}
                            <button type="submit" class="btn" style="background-color: rgb(139, 16, 16);color: white;" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> 
        {% endblock %}
        {% block scripts %}
        <!-- <script type="text/javascript" src="{% static 'js/script.js' %}"></script> -->
        <script src="{% static 'js/search_product.js' %}"></script>
        {% endblock %}
    </body>
    </html>
