.label-text  {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.content {
    display: flex; /* Ativa o Flexbox */
    
}

.center {
   
    padding: 20px;
    border-radius: 5px;
}

.content.expanded {
    margin-left: 0px;
}

.content {
    margin-left: 250px;
    padding: 70px 0px 0px 20px;
    transition: margin-left 0.3s ease;
}

.margin-top{
    margin-top: 20px;
}

.input-min{
    width: 200px;

}

.input-max{
    width: 400px;
}

.form-margin{
    margin-left: 50px;
}

.wid-2{
    width: 200px;
}

.c-adapted{
    color:#0b0433;
}

.bg-adapted{
    background-color: #12055f;
    color: white;
}

.bg-adapted:hover{
    background-color:#0b0433;
    color: white;
}
