.label-text  {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.content {
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura da tela */
    background-color: #e0e0e0; /* Apenas para visualização */
}

.center {
    background-color: #f0f0f0; /* Apenas para visualização */
    padding: 20px;
    border-radius: 5px;
}

.content.expanded {
    margin-left: 0px;
}

.content {
    margin-left: 250px;
    padding: 70px 0px 0px 20px;
    transition: margin-left 0.3s ease;
}