{% extends 'login/menu.html' %}
<!-- {% load bootstrap4 %} -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/Forms.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    {% endblock %}
    <title>{% if venda.pk %}Editar{% else %}Criar{% endif %} Venda</title>
    {% bootstrap_css %}
    <style>
        input[readonly] {
            background-color: #e9ecef; /* Cinza claro */
            color: #6c757d; /* Texto cinza escuro */
            cursor: not-allowed; /* Cursor indicando que não é editável */
        }
    </style>
    <style>
        input[readonly] {
            background-color: #e9ecef; /* Cinza claro */
            color: #6c757d; /* Texto cinza escuro */
            cursor: not-allowed; /* Cursor indicando que não é editável */
        }
    </style>
    
</head>
<body>
    <main>
        {% bootstrap_messages %}
        {% block content %}
        <div class='content'>
            <div class='center'>
                <!-- <h4 class="mt-5 mb-5 c-adapted">{% if venda.pk %}Editar{% else %}Criar{% endif %} Venda</h4> -->
                <form method="post">
                    {% csrf_token %}
                
                    <!-- Formulário de Venda -->
                    <h6>Dados da Venda</h6>
                    <!-- {{ venda_form.as_p }} -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Pessoa
                                </th>
                                <th scope="col">
                                    Data da Venda
                                </th>
                                <th scope="col">
                                    Situação
                                </th>
                                <th>
                                    Ativo
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td id="form-client" class="">
                                    {{venda_form.pessoa.as_hidden}}
                                <input type="text" class="row form-control" id="idSearch">
                                <div id="clients" class="mt-3 c row">
                                    
                                </div>
                                </td>
                                <td style="width: 200px;">
                                    <div class="input-group date " data-provide="datepicker">
                                        {{venda_form.data_da_venda}}
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </td>
                                <td>{{venda_form.situacao}}</td>
                                <td>{{venda_form.is_active}}</td>
                            </tr>
                            <tr>
                                <td class="z-2 position-absolute suggest">
                                    <div id="options-1"  class="row form-control z-1 ">
                                        <p id="title-client"class="text-center ">ID - CLIENTE</p>
                                        

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <!-- Itens de Venda -->
                    <h6>Itens de Venda</h6>
                    <div id="itens-container">      
                        {{ venda_item_formset.management_form }}
                        {% for form in venda_item_formset %}
                            <div class="item-form">
                                <!-- {{ form.as_p }} -->
                                  <table class="table">
                                    <thead >
                                        <tr>
                                            <th scope="col">
                                                Serviço
                                            </th>
    
                                            <th scope="col">
                                                Desconto(%)
                                            </th>

                                            <th scope="col">
                                                Preço
                                            </th>
                                            
                                            <th scope="col">
                                                Ações
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody class="itens">
                                        <tr>
                                            <td >{{form.service}}
                                            </td>
                    
                                            <td>
                                                {{form.discount}}
                                            </td>
                                            <td>
                                                {{form.preco}}
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger delete" onclick="removeItem(this)" >Deletar</button>
                                                {{form.DELETE.as_hidden}}
                                            </td>
                                        </tr>
                                        <tr class="tre">
                                            <td class="z-2 position-absolute suggest">
                                                <div id="options_products-0" class="row form-control z-1 field-product v">
                                                    <p class="text-center  title-product">CODIGO - DESC</p>

            
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>
                            </div>
                        {% endfor %}
                    </div>
                    <template id="empty-form-template">
                        <div class="item-form">
                            <!-- {{ venda_item_formset.empty_form.as_p }} -->
                            <table class="table">
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr >
                                        <td>{{ venda_item_formset.empty_form.service}}
                                            <!-- <input type="text" class="row form-control inputProduct">
                                            <div class="mt-3 field-product row"> -->
                                    
                                            </div>
                                        </td>

                                        <td>
                                            {{venda_item_formset.empty_form.discount}}
                                        <td>
                                            {{venda_item_formset.empty_form.preco}}
                                        <td>
                                            <button type="button" class="btn btn-danger delete" onclick="removeItem(this)">Deletar</button>
                                            {{venda_item_formset.empty_form.DELETE.as_hidden}}</td>
                                    </tr>
                                </tbody>
                              </table>
                        </div>
                    </template>
                    <button id="item" type="button" onclick="addItem()" class="btn btn-outline-success mb-5 z-2">Adicionar Item</button>
                
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Total de Produtos
                                </th>
                                <th scope="col">
                                    Valor de Desconto
                                </th>
                                <th scope="col">
                                    Valor Total
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <!-- <input type="text" id="id_all_total_products" readonly> -->
                                    {{venda_form.service_total}}
                                </td>
                                <td>
                                    <!-- <input type="text" id="id_all_total_discount" readonly> -->
                                    {{venda_form.discount_total}}
                                </td>
                                <td>
                                    <!-- <input type="text" id="id_all_total_value"readonly> -->
                                    {{venda_form.total_value}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                

                    <!-- Formas de Pagamento -->
                    <h6>Formas de Pagamento</h6>
                    <div id="payment-method-container">
                        {{ payment_method_formset.management_form }}
                        {% for form in payment_method_formset %}
                            <div class="form-row">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Forma de Pagamento
                                            </th>
                                            <th scope="col">
                                                Data de Expiração
                                            </th>
                                            <th scope="col">
                                                Valor
                                            </th>
                                            <th scol="col">
                                                Ações
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="field_type_payment">{{form.forma_pagamento}}</td>
                                            <td style="width: 200px;">
                                                <div class="input-group date" data-provide="datepicker">
                                                    {{form.expirationDate}}
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-th"></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                {{form.valor}}
                                            </td>
                                            
                                            <td>
                                                <!-- <label for="">Deletar</label> -->
                                                <button type="button" class="btn btn-danger delete" onclick="removePayment(this)">Deletar</button>
                                                {{ form.DELETE.as_hidden }}
                                        </tr>
                                    </tbody>
                                  </table>
                                  
                            </div>
                        {% endfor %}
                    </div>
                    <template id="empty-payment-method-form">
                        <div class="form-row">
                            <!-- Clona o formulário vazio de payment_method_formset -->
                            <!-- {{ payment_method_formset.empty_form.as_p }} -->
                            <table class="table">
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>
            
                                <tbody> 
                                    <tr>
                                        <td class="field_type_payment">{{ payment_method_formset.empty_form.forma_pagamento }}</td>
                                        <td style="width: 200px;">
                                            <div class="input-group date" data-provide="datepicker">
                                                {{payment_method_formset.empty_form.expirationDate}}
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{payment_method_formset.empty_form.valor}}</td>
                                        <td>
                                            <button type="button" class="btn btn-danger delete" onclick="removePayment(this)">Deletar</button>
                                            {{payment_method_formset.empty_form.DELETE.as_hidden}}</td>
                                        </td>
                                    </tr>
                                </tbody>
                              </table>
                        </div>
                    </template>
                    <button type="button" onclick="addPaymentMethod()" class="btn btn-outline-success mb-5">Adicionar Forma de Pagamento</button>
                    

                    <div class="row">

                        <div class="col">
                            <label for="">{{venda_form.observacao_pessoas.label}}</label>
                            {{venda_form.observacao_pessoas}}
                        </div>

                        <div class="col">
                            <label for="">{{venda_form.observacao_sistema.label}}</label>
                            {{venda_form.observacao_sistema}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mt-5 text-end">
                            <button  type="submit" class="btn bg-adapted">SALVAR VENDA</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        
        
        <script type="text/javascript" src="{% static 'js/jquery-3.7.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/mask.js' %}"></script> -
        <script src="{% static 'js/addItem.js' %}" defer></script>
        <script src="{% static 'js/clientSearch.js' %}"></script>  <!-- pesquisa clientes -->
        <script src="{% static 'js/venda_item.js' %}"></script> <!-- pesquisa produtos em vendas-->
        <script src="{% static 'js/date.js' %   }"></script>
        <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.pt-BR.js' %}"></script>
        {% endblock %}     
    </main>
</body>
</html>
