{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
            <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}
        <div class='content'>
            <div class="position-absolute  start-50">
                <div class="">
                    {% if messages %}
                        {% for message in messages %}
                            {% if "successWorkOrder" in message.tags %}
                            <div style="max-height: 50px; max-width: 400px;" class="successContainer"> 
                                <div class="alert {{ message.tags }} alert-success ">
                                    <strong>Sucesso!</strong>
                                {{ message }}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="container">
                <a href="{% url 'workOrdersForm' %}">
                    <button class="btn btn-success">Cadastrar</button>
                </a>
                <div class="form-group">
                    <input type="text" placeholder="Pesquisar..." class="search-input">
                    <button class="search-button">Pesquisar</button>
                </div>
            </div>
            <table >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Pessoa</th>
                        <th>Data da Venda</th>
                        <th>Situação</th>
                        <th>Ativo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>  
                {% for workOrder in workOrders %}
                <tr>
                    <td>{{ workOrder.id }}</td>
                    <td>{{ workOrder.pessoa }}</td>
                    <td>{{ workOrder.data_da_venda|date:"d/m/Y"  }}</td>
                    <td>{{ workOrder.situacao}}</td>
                    <td>{{ workOrder.is_Active|yesno:"Sim,Não" }}</td>
                    <td>
                        <a href="{% url 'workOrdersUpdate' pk=workOrder.id %}">
                            <button class="btn" style="background-color: #117027;color: white;">Editar</button>
                        </a>
                        <form action="{% url 'workOrdersDelete' pk=workOrder.id %}" method="POST" style="display:inline-block;">
                            {% csrf_token %}
                            <button type="submit" class="btn" style="background-color: rgb(139, 16, 16);color: white;" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</button>
                        </form>
                        {% comment %} <button>Deletar</button> {% endcomment %}
                        {% comment %} <button>Mais</button> {% endcomment %}
                        
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> 
        {% endblock %}
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </body>
    </html>
