{% extends 'login/menu.html' %}
<!-- {% load bootstrap4 %} -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/Forms.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    {% endblock %}
    <!-- <title>{% if venda.pk %}Editar{% else %}Criar{% endif %} Venda</title> -->
    {% bootstrap_css %}
    <style>
        input[readonly] {
            background-color: #e9ecef; /* Cinza claro */
            color: #6c757d; /* Texto cinza escuro */
            cursor: not-allowed; /* Cursor indicando que não é editável */
        }
    </style>
    <style>
        input[readonly] {
            background-color: #e9ecef; /* Cinza claro */
            color: #6c757d; /* Texto cinza escuro */
            cursor: not-allowed; /* Cursor indicando que não é editável */
        }
    </style>
    
</head>
<body>
    <main>
        {% bootstrap_messages %}
        {% block content %}
         
            <div class='container-fluid justify-content-center align-items-center'>
                <div class="col d-flex mb-5 gap-4 mt-5">
                    <a href="{% url 'workOrders_list' %}">
                        <button class="btn btn-voltar">   
                            <i class="fas fa-arrow-left"></i> 
                        </button>
                    </a> 
                    <h4 class="c-adapted">Editar Ordem</h4>
                </div>
          
                <form method="post" id="form">
                    {% csrf_token %}

                    <input id="permition_sale" type="hidden" value="{{permition_edit_sale}}">
                    <input id="permition_saleItem" type="hidden" value="{{permition_edit_saleItem}}">
                    <input id="permitionsaleServiceItem" type="hidden" value="{{permition_edit_saleServiceItem}}">
                    <input id="permition_payment" type="hidden" value="{{permition_edit_payments}}">
                    <!-- Formulário de Venda -->
                    <h6 class="mt-5 mb-3">Dados do Serviço</h6>
                    <!-- {{ service_form.as_p }} -->
                    
                    {% if messages %}
                        {% for message in messages %}
                            {% if "workupdate_page" in message.tags %}
                            <div class="modal"> 
                                <header class="mHeader">
                                    <p>Falha ao salvar Ordem</p>
                                </header>
                            
                                <div class="alert {{ message.tags }} mBody">
                                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, illum atque. Doloremque, dolor ipsum labore numquam quaerat doloribus, incidunt provident suscipit maiores dicta animi, itaque at reiciendis exercitationem assumenda odit?</p> -->
                                {{ message }}

                                </div>
                        
                                <footer>
                                    <button id="mBtn" class="mButton" type="button" onclick="closeModal(this)">Fechar</button>
                                </footer>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Pessoa
                                </th>
                                <th scope="col">
                                    Data da Venda
                                </th>
                                <!-- <th scope="col">
                                    Situação
                                </th> -->
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td id="form-client" class="">
                                    {{service_form.pessoa.as_hidden}}
                                    <div>
                                        <input type="text" class="row form-control mb-3 mt-3 idSearch" id="idSearch" onkeyup="showSuggetions(this)" required>
                                        <div id="suggestions" class="suggetions">
                                            
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 200px;">
                                    <input type="datetime-local" 
                                        name="data_da_venda" 
                                        value="{{ service_form.data_da_venda.value|date:'Y-m-d\TH:i' }}" 
                                        class="form-control mb-3 mt-3 row-xl-2" 
                                        required id="id_data_da_venda" readonly>
                                </td>
                                <td style="display: none;">{{service_form.situacao.as_hidden}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <h6 class="mt-5 mb-3 ">Itens de Venda</h6>
                   <div id="itens-container" class="itens-container-update" style="">
                        {{ venda_item_formset.management_form }}
                            <div class="item-form">       
                                <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Produto</th>
                                                <th scope="col">Quantidade</th>
                                                <th scope="col">Preço Unitário</th>
                                                <th scope="col">Desconto(%)</th>
                                                <th scope="col">Valor Total</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody class="itens"> 
                                            {% for form in venda_item_formset %}                         
                                            <tr>
                                                <td>
                                                    <input type="hidden" name="{{ form.prefix }}-id" value="{{ form.instance.id }}" id="{{ form.prefix }}-id">
                                                    {{form.product.as_hidden}}
                                                    <input type="text" class="row form-control mb-3 mt-3 idSearch" id="idProduct-0" onkeyup="showSuggetionsProducts(this)" required>
                                                    <div id="products-0" class="suggetions">
                                                    </div>
                                                </td>
                                                <td>
                                                    <!-- Campo Quantidade -->
                                                    {{ form.quantidade }}
                                                </td>
                                                <td>
                                                    <!-- Campo Preço Unitário -->
                                                    {{ form.preco_unitario }}
                                                </td>
                                                <td>
                                                    <!-- Campo Desconto -->
                                                    {{ form.discount }}
                                                </td>
                                                <td>
                                                    <!-- Campo Valor Total (readonly) -->
                                                    {{ form.price_total }}
                                                </td>
                                                <td>
                                                    {{ form.status }}
                                                </td>
                                                <td>
                                                    <!-- Checkbox para exclusão -->
                                                    <button type="button" class="btn btn-danger delete mb-3 mt-3" onclick="removeItem(this)" >Deletar</button>
                                                    {{form.DELETE.as_hidden}}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                </table>
                            </div>
                   
                    </div>
                    <template id="empty-form-template">
                            <!-- {{ venda_item_formset.empty_form.as_p }} -->
                            <tr>
                                <td>
                                    <input type="hidden" name="{{ venda_item_formset.empty_form.prefix }}-id" id="{{venda_item_formset.empty_form.prefix }}-id">
                                    {{ venda_item_formset.empty_form.product.as_hidden }}
                                    <input type="text" class="row form-control mb-3 mt-3" onkeyup="showSuggetionsProducts(this)" required>
                                    <div class="suggetions">
                            
                                    </div>
                                </td>
                                
                                <td>
                                    {{venda_item_formset.empty_form.quantidade}}
                                </td>
                        
                                <td>
                                    {{venda_item_formset.empty_form.preco_unitario}}
                                </td>

                                <td>
                                    {{venda_item_formset.empty_form.discount}}
                                </td>
                                <td>
                                    {{venda_item_formset.empty_form.price_total}}
                                </td>

                                <td>
                                    {{venda_item_formset.empty_form.status}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger delete mb-3 mt-3" onclick="removeItem(this)">Deletar</button>
                                    {{venda_item_formset.empty_form.DELETE.as_hidden}}
                                </td>
                            </tr>
                    </template>
                    <button id="item" type="button" onclick="addItem()" class="btn btn-outline-success mb-5 z-2">Adicionar Item</button>
                    
                    
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Total de Produtos
                                </th>
                                <th scope="col">
                                    Valor de Desconto
                                </th>
                                <th scope="col">
                                    Valor Total
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <!-- <input type="text" id="id_all_total_products" readonly> -->
                                    {{service_form.product_total}}
                                </td>
                                <td>
                                    <!-- <input type="text" id="id_all_total_discount" readonly> -->
                                    {{service_form.discount_total}}
                                </td>
                                <td>
                                    <!-- <input type="text" id="id_all_total_value"readonly> -->
                                    {{service_form.total_value}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Itens de Venda -->
                    <h6 class="mt-5 mb-3">Itens de Serviço</h6>
                    <div id="itens-container-service">
                        {{ service_item_formset.management_form }}
                            <div class="item-form">
                                <table class="table">
                                   
                                    <thead>
                                        <tr>
                                            <th scope="col">Técnico</th>
                                            <th scope="col">Serviço</th>
                                            <th scope="col">Desconto(%)</th>
                                            <th scope="col">Valor Total</th>
                                            <th scope="col">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody class="itens">
                                        {% for form in service_item_formset %}
                                        <tr>
                                            <td>
                                                {{form.technician}}
                                            </td>
                                            <td>
                                                <input type="hidden" name="{{ form.prefix }}-id" value="{{ form.instance.id }}">
                                                {{form.service.as_hidden}}
                                                <input type="text" class="row form-control mb-3 mt-3 idSearch" id="idservice-0" onkeyup="showSuggetionsServices(this)">
                                                <div id="suggetionsservices" class="suggetions">

                                                </div>
                                            </td>
                                            <td>
                                                <!-- Campo Quantidade -->
                                                {{ form.discount }}
                                            </td>
                                            <td>
                                                <!-- Campo Preço Unitário -->
                                                {{ form.preco }}
                                            </td>
                                            
                                            <td>
                                                <!-- Checkbox para exclusão -->
                                                <button type="button" class="btn btn-danger delete mb-3 mt-3" onclick="removeItem(this)" >Deletar</button>
                                                {{form.DELETE.as_hidden}}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>                     
                            </div>
                    </div>
                    
                    <button id="itemService" type="button" onclick="addItemService()" class="btn btn-outline-success mb-5 z-2">Adicionar Item</button>
                    <template id="empty-service-template">
                        <tr>
                            <td>
                                {{service_item_formset.empty_form.technician}}
                            </td>
                            
                            <td>
                                <input type="hidden" name="{{ service_item_formset.empty_form.prefix }}-id" id="{{service_item_formset.empty_form.prefix }}-id">
                                {{ service_item_formset.empty_form.service.as_hidden }}
                                <input type="text" class="row form-control mb-3 mt-3 idSearch" id="idservice-0" onkeyup="showSuggetionsservices(this)">
                                <div id="suggetionsservices" class="suggetions">

                                </div>
                            </td>
                            
                            <td>
                                {{service_item_formset.empty_form.discount}}
                            </td>                                
                    
                            <td>
                                {{service_item_formset.empty_form.preco}}
                            </td>

                            <td>
                                <button type="button" class="btn btn-danger delete mb-3 mt-3" onclick="removeItem(this)">Deletar</button>
                                {{service_item_formset.empty_form.DELETE.as_hidden}}
                            </td>                         
                        </tr>
                    </template>
                   
                
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Total de Serviços
                                </th>
                                <th scope="col">
                                    Valor de Desconto
                                </th>
                                <th scope="col">
                                    Valor Total
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>{{service_form.service_total}}</td>
                                <td>
                                    <!-- <input type="text" id="id_all_total_discount" readonly> -->
                                    {{service_form.discount_total_service}}
                                </td>
                                <td>
                                    <!-- <input type="text" id="id_all_total_value"readonly> -->
                                    {{service_form.total_value_service}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                

                    <!-- Formas de Pagamento -->
                    <h6 class="mt-5 mb-3">Formas de Pagamento</h6>
                    {{service_form.apply_credit.label}}
                    {{service_form.apply_credit}}
                    
                    {% if service_form.apply_credit.value %}
                        <div id="credit">
                            {{service_form.value_apply_credit.label}}
                            <br>
                            {{service_form.value_apply_credit}}
                        </div>  
                    {% else %} 
                        <div id="credit" style="display: none;">
                            {{service_form.value_apply_credit.label}}
                            <br>
                            {{service_form.value_apply_credit}}
                        </div>    
                    {% endif %}

                    {% include 'parcela.html' %}
                    <!-- <button type="button" onclick="addPaymentMethod()" class="btn btn-outline-success mb-5">Adicionar Forma de Pagamento</button> -->
                    
                    {% include 'parcelaUpdate.html' %}
                    <div class="row">

                        <div class="col">
                            <label for="">{{service_form.observacao_pessoas.label}}</label>
                            {{service_form.observacao_pessoas}}
                        </div>

                        <div class="col">
                            <label for="">{{service_form.observacao_sistema.label}}</label>
                            {{service_form.observacao_sistema}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mt-5 text-end">
                            <button  type="submit" class="btn bg-adapted">Enviar</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        
        
       
        <!-- <script type="text/javascript" src="{% static 'js/clientSearch.js' %}"></script> -->
        <script src="{% static 'js/suggestions.js' %}"></script><!-- pesquisa clientes -->
        <script src="{% static 'js/suggestionsUpdate.js' %}"></script>
        <script src="{% static 'js/addItem.js' %}" defer></script>
        <!-- <script src="{% static 'js/order.js' %}"></script>  pesquisa clientes -->
        <script src="{% static 'js/venda_item.js' %}"></script> <!-- pesquisa produtos em vendas-->
        <script src="{% static 'js/error.js' %}"></script>
        <script src="{% static 'js/block_fields.js' %}"></script>
        <script>
            const credit_apply = document.getElementById("id_apply_credit");
            const credit = document.getElementById("credit");
            credit_apply.addEventListener("click",()=>{
                if(credit_apply.onclick == null && credit_apply.checked){
                    credit.style.display = "block";
                }
                else{
                    credit.style.display = "none";
                }
            })

            const form = document.getElementById("form");
            
            form.addEventListener("submit", function(event) {
                
                    const activeCredit = new Set();
                    const id_apply_credit = document.getElementById("id_apply_credit");
                    const new_form = document.getElementById("new_form");
                    let installment;

                    if (new_form.value === "0") {
                        installment = document.getElementById("old-payment-method-form");
                    } else {
                        installment = document.getElementById("installment");
                    }
                    
                    const elements = installment.querySelectorAll("[id$='activeCredit']");
                    console.log(elements)
                    let has_credit = false;
                    elements.forEach((element) => {
                        if (element.checked){
                            has_credit = true;
                        }
                    });

                    if (id_apply_credit.checked && !has_credit) {
                        alert('Crédito foi selecionado, mas não foi gerado nas parcelas');
                        event.preventDefault();
                    }
                   
                    if (!id_apply_credit.checked && has_credit == true) {
                        
                        alert('Existe crédito gerado nas parcelas, mas a opção "Aplicar Crédito" não está marcada.');
                        event.preventDefault();
                    }
                  
                });
            
            // const id_situacao = document.getElementById("id_situacao");
            // id_situacao.addEventListener("change",()=>{
            //     const url = new URL(window.location.href);
            //     url.searchParams.set('situation',id_situacao.value);
            //     window.location.href = url.toString();
            // })
        </script>
        {% endblock %}     
    </main>
</body>
</html>
