{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <meta name="csrf-token" content="{{ csrf_token }}">
        <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}
         
            <div class="position-absolute  start-50">
                <div class="">
                    {% if messages %}
                        {% for message in messages %}
                            {% if "successsale" in message.tags %}
                            <div style="max-height: 50px; max-width: 400px;" class="successContainer"> 
                                <div class="alert {{ message.tags }} alert-success ">
                                    <strong>Sucesso!</strong>
                                {{ message }}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="container">
                <div class="col" >
                    <a href="{% url 'venda_create' %}">
                        <button class="btn btn-success">Criar nova Venda</button>
                    </a>
                    <div style="height: 03px;">
                        <div id="messageContainer"></div>  
                    </div>
                </div>

                <div class="form-group">
                    <form method="GET" action="{% url 'venda_list' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <label for="" class="">{{form.search.label}}</label>
                                {{form.search}}
                                <div class="col-sm-8" id="search_sale">
                                    <input type="text" id="searchInput" name="query"  class="search-input" value="{{ request.GET.query }}" placeholder="Pesquisar venda(s)"> 
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
      
          
            <table>
                <thead>
                    <tr>
                        {% for field,label in colunas %}
                        <th>
                            <a class="cabecalho" href="?page={{ vendas.number }}&sort={{ field }}&dir={% if current_dir == 'asc' %}desc{% else %}asc{% endif %}&query={{ query }}" style="color:inherit;text-decoration: none;">
                                {{ label }}
                                {% if current_dir == 'asc' %}
                                    ▲
                                {% else %}
                                    ▼
                                {% endif %}
                            </a>
                        </th>
                        {% endfor %}
                        <th>Ativo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="results">
                    {% for venda in vendas %}
                    <tr>
                        <td>{{ venda.id }}</td>
                        <td>{{ venda.pessoa}}</td>
                        <td>{{ venda.data_da_venda|date:"d/m/Y" }}</td>
                        <td><form method="POST" action="{% url 'buscar_situacao' pk=venda.pk %}">
                                {% csrf_token %}
                                {% with current_level=venda.situacao.closure_level %}
                                    {% if current_level == 'Trancamento Total' %}
                                        <!-- Bloqueado -->
                                        <select disabled>
                                            <option selected>{{ venda.situacao.name_Situation }}</option>
                                        </select>
                                        <input type="hidden" name="opcao" value="{{ venda.situacao.pk }}">
                                    {% else %}
                                        <select name="opcao" onchange="this.form.submit()">
                                            {% for situation in situations %}
                                                {% with target_level=situation.closure_level %}
                                                    {% if current_level == 'Situação Aberta' %}
                                                        <!-- Pode mudar para qualquer uma -->
                                                        <option value="{{ situation.pk }}" {% if situation.pk == venda.situacao.pk %}selected{% endif %}>
                                                            {{ situation.name_Situation }}
                                                        </option>
                                                    {% elif current_level == 'Trancamento Parcial' %}
                                                        {% if target_level == 'Trancamento Total' or target_level == 'Situação Concluída' or target_level == current_level %}
                                                            <option value="{{ situation.pk }}" {% if situation.pk == venda.situacao.pk %}selected{% endif %}>
                                                                {{ situation.name_Situation }}
                                                            </option>
                                                        {% endif %}
                                                    {% elif current_level == 'Situação Concluída' %}
                                                        {% if target_level == 'Trancamento Total' or target_level == current_level %}
                                                            <option value="{{ situation.pk }}" {% if situation.pk == venda.situacao.pk %}selected{% endif %}>
                                                                {{ situation.name_Situation }}
                                                            </option>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endwith %}
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                {% endwith %}
                            </form>
                        </td>
                        <td>{{ venda.is_active|yesno:"Sim,Não" }}</td>
                        <td>
                            <!-- <a href="{% url 'venda_update' pk=venda.pk %}">Editar</a>
                            <a href="{% url 'venda_delete' pk=venda.pk %}"class="delete-button" data-id="{{ Position.id }}" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</a> -->
                            <a href="{% url 'venda_update' pk=venda.pk %}">
                                <button class="btn" style="background-color: #117027;color: white;" >Editar</button>
                            </a>
                            <button type="button" class="btn btn-secondary" onclick="imprimirCupom({{ venda.id }})">Imprimir</button>
                            {% comment %}
                            <form action="{% url 'cupom' pk=venda.pk %}" method="POST" style="display:inline-block;">
                                {% csrf_token %}
                                <button type="submit" class="btn" style="background-color: rgb(139, 16, 16);color: white;" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</button>
                            </form>
                            {% endcomment %}
                            <form action="{% url 'venda_delete' pk=venda.pk %}" method="POST" style="display:inline-block;">
                                {% csrf_token %}
                                <button type="submit" class="btn" style="background-color: rgb(139, 16, 16);color: white;" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</button>
                            </form>

                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <div class="container vh-100 d-flex justify-content-center align-items-center">
                <div class="row text-center">
                    <div class="col">
                        <a href="#" class="btn btn-primary">Clique Aqui</a>
                    </div>
                </div>
            </div> -->
            <div id="paginationContainer" class="d-flex justify-content-center align-items-center">
                <div class="row text-center">
                    <div class="col me-5">
                        {% if vendas.has_previous %}
                        <a href="{% url 'venda_list' %}?page={{ vendas.previous_page_number }}&query={{ query }}" class="me-5">
                        <!-- <button type="button" class="btn" style="border: 2px solid #0b0433;color: #0b0433;"> -->
                            <span aria-hidden="true" style="font-size: 32px;">&laquo;</span>
                        <!-- </button> -->
                        </a>
                        {% else %}
                        <a class="me-5">
                            <!-- <button type="button" class="btn" style="border: 2px solid #0b0433;color: #0b0433;" disabled> -->
                                <span aria-hidden="true" aria-disabled="true" style="font-size: 32px;color: gray; pointer-events: none">&laquo;</span>
                            <!-- </button> -->
                        </a>
                        {% endif %}
                        {% if vendas.has_next %}
                        <a href="{% url 'venda_list' %}?page={{ vendas.next_page_number }}&query={{ query  }}" class="me-5">
                            <!-- <button type="button" class="btn" style="border: 2px solid #0b0433;color: #0b0433;"> -->
                                <span aria-hidden="true" style="font-size: 32px;">&raquo;</span>
                            <!-- </button> -->
                        </a>
                        {% else %}
                        <a class="me-5">
                            <!-- <button type="button" class="btn" style="border: 2px solid #0b0433;color: #0b0433;" disabled> -->
                                <span aria-hidden="true" aria-disabled="true" style="font-size: 32px;color: gray; pointer-events: none">&raquo;</span>
                            <!-- </button> -->
                        </a>
                        {% endif %}
                    </div>
                   
                </div>
                
                
            </div>
            
        </div> 
        {% endblock %}
        {% block scripts %}
        <script type="text/javascript" src="{% static 'js/cupom.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/search_sale.js' %}"></script>
        {% endblock %}
    </body>
</html>