{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <meta name="csrf-token" content="{{ csrf_token }}">
        <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}
        <div class='content'>
            <div class="container">
                <a href="{% url 'venda_create' %}">
                    <button class="btn btn-success">Criar nova Venda</button>
                </a>
                <div class="form-group">
                    <form method="GET" action="{% url 'venda_list' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <label for="" class="">{{form.search.label}}</label>
                                {{form.search}}
                                <div class="col-sm-8" id="search_sale">
                                    <input type="text" id="searchInput"  class="search-input" value="{{ request.GET.query }}" placeholder="Pesquisar venda(s)"> 
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="messageContainer"></div>  
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Pessoa</th>
                        <th>Data da Venda</th>
                        <th>Situação</th>
                        <th>Ativo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="results">
                    {% for venda in vendas %}
                    <tr>
                        <td>{{ venda.id }}</td>
                        <td>{{ venda.pessoa}}</td>
                        <td>{{ venda.data_da_venda|date:"d/m/Y" }}</td>
                        <td>{{ venda.situacao }}</td>
                        <td>{{ venda.is_active|yesno:"Sim,Não" }}</td>
                        <td>
                            <!-- <a href="{% url 'venda_update' pk=venda.pk %}">Editar</a>
                            <a href="{% url 'venda_delete' pk=venda.pk %}"class="delete-button" data-id="{{ Position.id }}" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</a> -->
                            <a href="{% url 'venda_update' pk=venda.pk %}">
                                <button class="btn" style="background-color: #117027;color: white;" >Editar</button>
                            </a>
                            <form action="{% url 'venda_delete' pk=venda.pk %}" method="POST" style="display:inline-block;">
                                {% csrf_token %}
                                <button type="submit" class="btn" style="background-color: rgb(139, 16, 16);color: white;" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="paginationContainer" class="container">
                <div class="row">
                    {% if vendas.has_previous %}
                    <a href="{% url 'venda_list' %}?page={{ vendas.previous_page_number }}&query={{ query }}" class="col ">
                    <button type="button" class="btn" style="border: 2px solid #0b0433;color: #0b0433;">
                        Anterior
                    </button>
                    </a>
                    {% else %}
                    <a class="col">
                        <button type="button" class="btn" style="border: 2px solid #0b0433;color: #0b0433;" disabled>
                            Anterior
                        </button>
                    </a>
                    {% endif %}
                    {% if vendas.has_next %}
                    <a href="{% url 'venda_list' %}?page={{ vendas.next_page_number }}&query={{ query  }}" class="col ">
                        <button type="button" class="btn" style="border: 2px solid #0b0433;color: #0b0433;">
                            Próximo
                        </button>
                    </a>
                    {% else %}
                    <a class="col">
                        <button type="button" class="btn" style="border: 2px solid #0b0433;color: #0b0433;" disabled>
                            Próximo
                        </button>
                    </a>
                    {% endif %}
                </div>
                
            </div>
        </div> 
        {% endblock %}
        {% block scripts %}
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/search_sale.js' %}"></script>
        {% endblock %}
    </body>
</html>