{% extends 'login/menu.html' %}
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/Forms.css' %}">
    {% endblock %}
    <title>{% if venda.pk %}Editar{% else %}Criar{% endif %} Venda</title>
    {% bootstrap_css %}
</head>
<body>
    <main>
        {% bootstrap_messages %}
        {% block content %}
        <div class='content'>
            <div class='center'>
                <h2>{% if venda.pk %}Editar{% else %}Criar{% endif %} Venda</h2>

                <form method="post">
                    {% csrf_token %}
                
                    <!-- Formulário de Venda -->
                    <h3>Dados da Venda</h3>
                    {{ venda_form.as_p }}
                    
                    <!-- <div class="row"> -->
                        <!-- <label for="">{{venda_form.pessoa.label}}</label> -->
                        <!-- <input type="text" id="field-client"> -->
                        <!-- <select id="selection">
                            {% for pessoa in venda_form.pessoa.field.queryset %}
                            <option class="option">{{pessoa}}</button> -->
                            <!-- <button>{{venda_form.pessoa}}</button> -->
                        <!-- </ul> -->
                        <!-- {% endfor %} -->
                    <!-- </div> -->
                    

                    <!-- <table class="table">
                        <thead>
                          <tr>
                            
                            <th scope="col">Pessoa</th>
                            <th scope="col">Situação</th>
                            <th scope="col">Ativo</th>
                            <th scope="col">Data da Venda</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td style="background-color: #291686">
                                <input type="text" id="field-client">
                                <select id="selection">
                                    {% for pessoa in venda_form.pessoa.field.queryset %}
                                    <option class="option">{{pessoa}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td style="background-color: #291686">
                                <div>
                                    <input type="text" >
                                </div>

                            </td>
                            <td style="background-color:#291686">
                                <div>
                                    <div class="col">
                                        {{venda_form.is_active}}
                                    </div>
                                   
                                    <div class="col">Ativo</div>
                                </div>
                            </td>
                            <td style="background-color: #291686">
                                {{venda_form.data_da_venda}}
                            </td>
                          </tr>
                          
                          
                        </tbody>
                      </table>  -->

                    <!-- Itens de Venda -->
                    <h3>Itens de Venda</h3>
                    <div id="itens-container">
                        {{ venda_item_formset.management_form }}
                        {% for form in venda_item_formset %}
                            <div class="item-form">
                                <!-- {{ form.as_p }} -->
                                  <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Produto
                                            </th>
                                            <th scope="col">
                                                Quantidade
                                            </th>
                                            <th scope="col">
                                                Preço Unitário
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>{{form.product}}</td>
                                            <td>{{form.quantidade}}</td>
                                            <td>{{form.preco_unitario}}</td>
                                        </tr>
                                    </tbody>
                                  </table>
                            </div>
                        {% endfor %}
                    </div>
                    <template id="empty-form-template">
                        <div class="item-form">
                            <!-- {{ venda_item_formset.empty_form.as_p }} -->
                            <table class="table">
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>{{ venda_item_formset.empty_form.product }}</td>
                                        <td>{{venda_item_formset.empty_form.quantidade}}</td>
                                        <td>{{venda_item_formset.empty_form.preco_unitario}}</td>
                                    </tr>
                                </tbody>
                              </table>
                            <!-- {{ venda_item_formset.empty_form.as_p }} -->
                        </div>
                    </template>
                    <button type="button" onclick="addItem()" class="btn btn-success">Adicionar Item</button>
                
                    <!-- Formas de Pagamento -->
                    <h3>Formas de Pagamento</h3>
                    <div id="payment-method-container">
                        {{ payment_method_formset.management_form }}
                        {% for form in payment_method_formset %}
                            <div class="form-row">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Forma de Pagamento
                                            </th>
                                            <th scope="col">
                                                Data de Expiração
                                            </th>
                                            <th scope="col">
                                                Valor
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>{{form.forma_pagamento}}</td>
                                            <td>{{form.expirationDate}}</td>
                                            <td>{{form.valor}}</td>
                                        </tr>
                                    </tbody>
                                  </table>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" onclick="addPaymentMethod()" class="btn btn-success">Adicionar Forma de Pagamento</button>
                
                    <button type="submit">Salvar Venda</button>
                </form>
                
            </div>
        </div>
        <!-- <template id="empty-form-template"> -->
            <!-- <div class="form-row"> -->
                <!-- Clona o formulário vazio de venda_item_formset -->
                <!-- {{ venda_item_formset.empty_form.as_p }} -->
            <!-- </div> -->
        <!-- </template> -->
        
        <template id="empty-payment-method-form">
            <div class="form-row">
                <!-- Clona o formulário vazio de payment_method_formset -->
                <!-- {{ payment_method_formset.empty_form.as_p }} -->
                <table class="table">
                    <thead>
                        <tr>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>{{ payment_method_formset.empty_form.forma_pagamento }}</td>
                            <td>{{payment_method_formset.empty_form.expirationDate}}</td>
                            <td>{{payment_method_formset.empty_form.valor}}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </template>
        {% endblock %}
        
        <script src="{% static 'js/cep_api.js' %}"></script>
        <script src="{% static 'js/addItem.js' %}" defer></script>
        <script src="{% static 'js/clientSearch.js' %}"></script>
    </main>
</body>
</html>
