{% extends 'login/menu.html' %}
<!-- {% load bootstrap4 %} -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/Forms.css' %}">
    {% endblock %}
    <title>{% if venda.pk %}Editar{% else %}Criar{% endif %} Venda</title>
    {% bootstrap_css %}
</head>
<body>
    <main>
        {% bootstrap_messages %}
        {% block content %}
        <div class='content'>
            <div class='center'>
                <h4>{% if venda.pk %}Editar{% else %}Criar{% endif %} Venda</h4>

                <form method="post">
                    {% csrf_token %}
                
                    <!-- Formulário de Venda -->
                    <h5>Dados da Venda</h5>
                    <!-- {{ venda_form.as_p }} -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Pessoa
                                </th>
                                <th scope="col">
                                    Data da Venda
                                </th>
                                <th scope="col">
                                    Situação
                                </th>
                                <th>
                                    Ativo
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td> 
                                    <!-- <div class="row"> -->
                                    <!-- <label for="">{{venda_form.pessoa.label}}</label>  -->
                                    <input type="text" id="field-client" class="form-control ">
                                    <select id="selection">
                                       {% for pessoa in venda_form.pessoa.field.queryset %}
                                       <option class="option">{{pessoa}}</option> 
                                        <!-- <button>{{venda_form.pessoa}}</button> --> 
                                    </select> 
                                   {% endfor %}
                                    <!-- </div>  -->
                                </td>
                                <!-- {% for venda  in venda_form.as_p} -->
                                <td>{{venda_form.data_da_venda}}</td>
                                <td>{{venda_form.situacao}}</td>
                                <td>{{venda_form.is_active}}</td>
                            </tr>
                        </tbody>
                    </table>
                    

                    <!-- <div class="row">
                        <div class="col">
                            <label for="">{{venda_form.total.label}}</label>
                            {{venda_form}}
                        </div>
                    </div> -->
                    

                    <!-- Itens de Venda -->
                    <h5>Itens de Venda</h5>
                    <div id="itens-container">      
                        {{ venda_item_formset.management_form }}
                        {% for form in venda_item_formset %}
                            <div class="item-form">
                                <!-- {{ form.as_p }} -->
                                  <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Produto
                                            </th>
                                            <th scope="col">
                                                Quantidade
                                            </th>
                                            <th scope="col">
                                                Preço Unitário
                                            </th>
                                            <th scope="col">
                                                Desconto(%)
                                            </th>
                                            <th scope="col">
                                                Valor Total
                                            </th>
                                            <th scope="col">
                                                Ações
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody class="itens">
                                        <tr>
                                            <td>{{form.product}}</td>
                                            <td>
                                                {{form.quantidade}}
                                                <!-- <input type="number" class="form-control mount" value="{{form.quantidade}}"> -->
                                            </td>
                                            <td>
                                                {{form.preco_unitario}}
                                                <!-- <input type="number" class="form-control price" value="{{form.preco_unitario}}"> -->
                                            </td>
                                            <td>
                                                <input type="number" class="form-control row descont">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control row totalValue" readonly>
                                            </td>
                                            <td>
                                                <!-- <label for="">Deletar</label> -->
                                                <button class="btn btn-danger delete" >Deletar</button>
                                                {{ form.DELETE.as_hidden }}
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>
                            </div>
                        {% endfor %}
                    </div>
                    <template id="empty-form-template">
                        <div class="item-form">
                            <!-- {{ venda_item_formset.empty_form.as_p }} -->
                            <table class="table">
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr >
                                        <td>{{ venda_item_formset.empty_form.product }}</td>
                                        <td>
                                            {{venda_item_formset.empty_form.quantidade}}
                                            <!-- <input type="number" class="form-control mount" value="{{venda_item_formset.empty_form.quantidade}}"> -->
                                        </td>
                                
                                        <td>
                                            {{venda_item_formset.empty_form.preco_unitario}}
                                            <!-- <input type="number" class="form-control mount" value="{{venda_item_formset.empty_form.preco_unitario}}"> -->
                                        </td>

                                        <td>
                                            <input type="number" class="form-control row descont">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control row totalValue" readonly>
                                        </td>
                                        <td>
                                            <!-- <label for="">Deletar</label> -->
                                            
                                            <button class="btn btn-danger delete">Deletar</button>
                                            {{venda_item_formset.empty_form.DELETE.as_hidden}}</td>
                                            
                                    </tr>
                                </tbody>
                              </table>
                            <!-- {{ venda_item_formset.empty_form.as_p }} -->
                        </div>
                    </template>
                    <button id="item" type="button" onclick="addItem()" class="btn btn-outline-success mb-5">Adicionar Item</button>
                
                    <!-- Formas de Pagamento -->
                    <h5>Formas de Pagamento</h5>
                    <div id="payment-method-container">
                        {{ payment_method_formset.management_form }}
                        {% for form in payment_method_formset %}
                            <div class="form-row">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Forma de Pagamento
                                            </th>
                                            <th scope="col">
                                                Data de Expiração
                                            </th>
                                            <th scope="col">
                                                Valor
                                            </th>
                                            <th scol="col">
                                                Ações
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>{{form.forma_pagamento}}</td>
                                            <td>{{form.expirationDate}}</td>
                                            <td>{{form.valor}}</td>
                                            <td>
                                                <label for="">Deletar</label>
                                                {{form.DELETE}}</td>
                                        </tr>
                                    </tbody>
                                  </table>
                                  
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" onclick="addPaymentMethod()" class="btn btn-outline-success mb-5">Adicionar Forma de Pagamento</button>
                    

                    <div class="row">
                        <div class="col">
                            <label for="">{{venda_form.observacao_pessoas.label}}</label>
                            {{venda_form.observacao_pessoas}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="">{{venda_form.observacao_sistema.label}}</label>
                            {{venda_form.observacao_sistema}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end">
                            <button  type="submit" class="btn bg-adapted">SALVAR VENDA</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        <!-- <template id="empty-form-template"> -->
            <!-- <div class="form-row"> -->
                <!-- Clona o formulário vazio de venda_item_formset -->
                <!-- {{ venda_item_formset.empty_form.as_p }} -->
            <!-- </div> -->
        <!-- </template> -->
        
        <template id="empty-payment-method-form">
            <div class="form-row">
                <!-- Clona o formulário vazio de payment_method_formset -->
                <!-- {{ payment_method_formset.empty_form.as_p }} -->
                <table class="table">
                    <thead>
                        <tr>
                        </tr>
                    </thead>

                    <tbody> 
                        <tr>
                            <td>{{ payment_method_formset.empty_form.forma_pagamento }}</td>
                            <td>{{payment_method_formset.empty_form.expirationDate}}</td>
                            <td>{{payment_method_formset.empty_form.valor}}</td>
                            <td>
                                <label for="">Deletar</label>
                                {{payment_method_formset.empty_form.DELETE}}
                            </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </template>
        {% endblock %}
        
        <script src="{% static 'js/cep_api.js' %}"></script>
        <script src="{% static 'js/addItem.js' %}" defer></script>
        <script src="{% static 'js/clientSearch.js' %}"></script>
    </main>
</body>
</html>
