{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <meta name="csrf-token" content="{{ csrf_token }}">
        <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}


            <div class="position-absolute start-50">
                <div class="">
                    {% if messages %}
                        {% for message in messages %}
                            {% if "successBank" in message.tags %}
                            <div style="max-height: 50px; max-width: 400px;" class="successContainer"> 
                                <div class="alert {{ message.tags }} alert-success ">
                                    <strong>Sucesso!</strong>
                                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, illum atque. Doloremque, dolor ipsum labore numquam quaerat doloribus, incidunt provident suscipit maiores dicta animi, itaque at reiciendis exercitationem assumenda odit?</p> -->
                                {{ message }}
    
                                </div>
                        
                                
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="container">
                <a href="{% url 'BankForm' %}">
                    <button class="btn btn-success">Cadastrar</button>
                </a>
                <div class="form-group">
                    <form method="GET" action="{% url 'Bank' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <label for="" class="">{{form.search.label}}</label>
                                {{form.search}}
                                <div class="col-sm-8" id="search_client">
                                    <input type="text" id="searchInput"  class="search-input" value="{{ request.GET.query }}" placeholder="Pesquisar Forma(s) de Pagamento"> <!-- onkeyup="searchInput()" -->
                                    <!-- <input type="text" id="search" name="search" class="form-control" placeholder="Digite o nome do cliente" value="{{ request.GET.search }}"> -->
                                    <!-- <input type="text" id="searchBox" placeholder="Pesquise um cliente..."> -->
                                </div>
                            </div>
                            <div class="col">
                                <!-- <button type="submit" class="btn btn-primary mt-4">Pesquisar</button> -->
                            </div>
                        
                        </div>
                    </form>
                </div>
            </div>
            <div id="messageContainer"></div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome do Banco</th>
                        <th>Ativo</th>
                        <th>Valor em Conta</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="results">    
                {% for Bank in Banks %}
                <tr>
                    <td>{{ Bank.id }}</td>
                    <td>{{ Bank.bank_name }}</td>
                    <td>{{ Bank.is_Active|yesno:"Sim,Não" }}</td>
                    <td>{{ Bank.value_in_bank|floatformat:2 }}</td>
                    <td>
                        <a href="{% url 'updateBank' id_bank=Bank.id %}">
                            <button class="btn" style="background-color: #117027;color: white;">Editar</button>
                        </a>
                        <form action="{% url 'deleteBank' id_bank=Bank.id %}" method="POST" style="display:inline-block;">
                            {% csrf_token %}
                            <button type="submit" class="btn" style="background-color: rgb(139, 16, 16);color: white;" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</button>
                        </form>
                        {% comment %} <button>Deletar</button> {% endcomment %}
                        {% comment %} <button>Mais</button> {% endcomment %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="paginationContainer">
                {% if payments.has_previous %}
                <a href="{% url 'Bank' %}?page={{ paymentsMethod.previous_page_number }}&query={{ query }}">Anterior</a>
                {% endif %}
                {% if payments.has_next %}
                <a href="{% url 'Bank' %}?page={{ paymentsMethod.next_page_number }}&query={{ query  }}">Proximo</a>
                {% endif %}
            </div>

        {% endblock %}

        {% block scripts %}
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/search_payment.js' %}"></script>
        {% endblock %}
    </body>
    </html>
