{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
            <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}
        <div class='content'>
            <div class="position-absolute start-50">
                <div class="">
                    {% if messages %}
                        {% for message in messages %}
                            {% if "successChartOfAccounts" in message.tags %}
                            <div style="max-height: 50px; max-width: 400px;" class="successContainer"> 
                                <div class="alert {{ message.tags }} alert-success ">
                                    <strong>Sucesso!</strong>
                                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, illum atque. Doloremque, dolor ipsum labore numquam quaerat doloribus, incidunt provident suscipit maiores dicta animi, itaque at reiciendis exercitationem assumenda odit?</p> -->
                                {{ message }}
    
                                </div>
                        
                                
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="container">
                <a href="{% url 'ChartOfAccountsForm' %}">
                    <button class="btn btn-success">Cadastrar</button>
                </a>
                <div class="form-group">
                    <input type="text" placeholder="Pesquisar..." class="search-input">
                    <button class="search-button">Pesquisar</button>
                </div>
            </div>
            <table >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Ativo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>  
                {% for ChartOfAccount in ChartOfAccounts %}
                <tr>
                    <td>{{ ChartOfAccount.id }}</td>
                    <td>{{ ChartOfAccount.name_ChartOfAccounts }}</td>
                    <td>{{ ChartOfAccount.is_Active|yesno:"Sim,Não" }}</td>
                    <td>
                        <a href="{% url 'updateChartOfAccounts' id_chartOfAccounts=ChartOfAccount.id %}">
                            <button class="btn" style="background-color: #117027;color: white;">Editar</button>
                        </a>
                        <form action="{% url 'deleteChartOfAccounts' id_chartOfAccounts=ChartOfAccount.id %}" method="POST" style="display:inline-block;">
                            {% csrf_token %}
                            <button type="submit" class="btn" style="background-color: rgb(139, 16, 16);color: white;" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</button>
                        </form>
                        {% comment %} <button>Deletar</button> {% endcomment %}
                        {% comment %} <button>Mais</button> {% endcomment %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> 
        {% endblock %}
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </body>
    </html>
