{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
            <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}
        <div class='content'>
            <div class="container">
                <a href="{% url 'ChartOfAccountsForm' %}">
                    <button class="btn btn-success">Cadastrar</button>
                </a>
                <div class="form-group">
                    <input type="text" placeholder="Pesquisar..." class="search-input">
                    <button class="search-button">Pesquisar</button>
                </div>
            </div>
            <table >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Ativo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>  
                {% for chartOfAccount in ChartOfAccounts %}
                <tr>
                    <td>{{ chartOfAccount.id }}</td>
                    <td>{{ chartOfAccount.name_ChartOfAccounts }}</td>
                    <td>{{ chartOfAccount.is_Active|yesno:"Sim,Não" }}</td>
                    <td>
                       
                        {% comment %} <button>Deletar</button> {% endcomment %}
                        {% comment %} <button>Mais</button> {% endcomment %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> 
        {% endblock %}
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </body>
    </html>
