{% extends 'login/menu.html' %}
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
            <link rel="stylesheet" href="{% static 'css/Forms.css' %}">
        {% endblock %}
        <title>Formulário</title>
        {% bootstrap_css %}
    </head>
    <body>
        <main>
            {% bootstrap_messages %}
            {% block content %}
            <div class='content'>
                <div class='center col'>
                
                    <form action="." method='post' autocomplete='off' class="row">
                        {% csrf_token %}
                        <div class="card mt-5" style="margin-left:25%;width:40%;">
                            
                            <div class="row mt-5" style="margin-left:25%;width:40%;">
                                <div class="card-body">
                                    <h6 class="card-title">Forma de Pagamento</h6>

                                    <div class="row mt-5" >
                                        <label for="" class="">{{paymentMethod.name_paymentMethod.label}}</label>
                                        <div>
                                            {{paymentMethod.name_paymentMethod}}
                                        </div>
                                    </div>

                                    <div class="row" >
                                        <label for="">{{paymentMethod.is_Active.label}}</label>
                                        <div>
                                            {{paymentMethod.is_Active}}
                                        </div>
                                    </div>
                                    <button Type='submit' class="btn bg-adapted" style="margin-left: 35%;">Cadastrar</button>       
                                </div>
                            </div>
                            <!-- {{ paymentMethod.as_p }} -->
                
                           
                        </div>
                       
                    </form>
                </div>
            </div>
            {% endblock %}
        </main>
        
        
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </body>
</html>