{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <meta name="csrf-token" content="{{ csrf_token }}">
        <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}
        <div class='content'>
            <div class="container">
                <a href="{% url 'PaymentMethodForm' %}">
                    <button class="btn btn-success">Cadastrar</button>
                </a>
                <div class="form-group">
                    <form method="GET" action="{% url 'PaymentMethod' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <label for="" class="">{{form.search.label}}</label>
                                {{form.search}}
                                <div class="col-sm-8" id="search_client">
                                    <input type="text" id="searchInput"  class="search-input" value="{{ request.GET.query }}" placeholder="Pesquisar Forma(s) de Pagamento"> <!-- onkeyup="searchInput()" -->
                                    <!-- <input type="text" id="search" name="search" class="form-control" placeholder="Digite o nome do cliente" value="{{ request.GET.search }}"> -->
                                    <!-- <input type="text" id="searchBox" placeholder="Pesquise um cliente..."> -->
                                </div>
                            </div>
                            <div class="col">
                                <!-- <button type="submit" class="btn btn-primary mt-4">Pesquisar</button> -->
                            </div>
                        
                        </div>
                    </form>
                </div>
            </div>
            <div id="messageContainer"></div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Forma de Pagamento</th>
                        <th>Ativo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="results">    
                {% for PaymentMethod in PaymentMethods %}
                <tr>
                    <td>{{ PaymentMethod.id }}</td>
                    <td>{{ PaymentMethod.name_paymentMethod }}</td>
                    <td>{{ PaymentMethod.is_Active|yesno:"Sim,Não" }}</td>
                    <td>
                        <!-- <a href="{% url 'updatePaymentMethod' id_paymentMethod=PaymentMethod.id %}">
                            <button>Editar</button>
                        </a>
                        <button class="delete-button" data-id="{{ PaymentMethod.id }}" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</button> -->
                        <a href="{% url 'updatePaymentMethod' id_paymentMethod=PaymentMethod.id %}">
                            <button class="btn" style="background-color: #117027;color: white;">Editar</button>
                        </a>
                        <form action="{% url 'deletePaymentMethod' id_paymentMethod=PaymentMethod.id %}" method="POST" style="display:inline-block;">
                            {% csrf_token %}
                            <button type="submit" class="btn" style="background-color: rgb(139, 16, 16);color: white;" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</button>
                        </form>
                        {% comment %} <button>Deletar</button> {% endcomment %}
                        {% comment %} <button>Mais</button> {% endcomment %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="paginationContainer">
                {% if payments.has_previous %}
                <a href="{% url 'PaymentMethod' %}?page={{ paymentsMethod.previous_page_number }}&query={{ query }}">Anterior</a>
                {% endif %}
                {% if payments.has_next %}
                <a href="{% url 'PaymentMethod' %}?page={{ paymentsMethod.next_page_number }}&query={{ query  }}">Proximo</a>
                {% endif %}
            </div>
        </div> 
        {% endblock %}

        {% block scripts %}
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/search_payment.js' %}"></script>
        {% endblock %}
    </body>
    </html>
