{% extends 'login/menu.html' %}
{% load bootstrap4 %}
{% load static %}

<head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
            <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        {% endblock  %}
        {% block title %}
            <title>Editar de Permissões do Usuario {{users.username}}</title>
        {% endblock %}
    </head>
</body>
    <main>
        {% bootstrap_messages %}
            {% block content %}
            <div class='content'>
                <h2>Selecione Permissões</h2>

                <form method="post">
                    {% csrf_token %}

                    {% for ct, permissions in grouped_permissions.items %}
                        <fieldset>
                            <legend>{{ ct.app_label|capfirst }} / {{ ct.model|capfirst }}</legend>
                            {% for perm in permissions %}
                                <label>
                                    <input type="checkbox" name="permissions" value="{{ perm.id }}"
                                        {% if perm.id in form.permissions.value %}checked{% endif %}>
                                    {{ perm.name }}
                                </label><br>
                            {% endfor %}
                        </fieldset>
                    {% endfor %}

                    <button type="submit">Salvar</button>
                </form> 

            </div>
            {% endblock %}
    </main>
<body>