<!-- create_client_form.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário Combinado</title>
</head>
<body>
    <h1>Formulário para Criar Cliente, Pessoa Física e Endereço</h1>
    <form method="POST">
        {% csrf_token %}
        
        <h2>Endereço</h2>
        {{ form.road }}
        {{ form.number }}
        {{ form.cep }}
        {{ form.neighborhood }}
        {{ form.reference }}
        {{ form.complement }}
        {{ form.city }}
        {{ form.uf }}
        {{ form.country }}

        <h2>Pessoa Física</h2>
        {{ form.name }}
        {{ form.cpf }}
        {{ form.rg }}
        {{ form.dateOfBirth }}

        <h2>Cliente</h2>
        {{ form.telefone_pessoal }}
        {{ form.telefone_trabalho }}
        {{ form.site }}
        {{ form.ativo }}
        {{ form.limite_credito }}

        <button type="submit">Salvar</button>
    </form>
</html>