{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        <link rel="stylesheet" href="{% static 'css/delete.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}
        <div class='content'>
            <div class="container">
                <a href="{% url 'SituationForm' %}">
                    <button class="register-button">Cadastrar</button>
                </a>
                <div class="form-group">
                    <input type="text" placeholder="Pesquisar..." class="search-input">
                    <button class="search-button">Pesquisar</button>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Situação Personalizada</th>
                        <th>Ativo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for Situation in Situations %}
                <tr>
                    <td>{{ Situation.id }}</td>
                    <td>{{ Situation.name_Situation }}</td>
                    <td>{{ Situation.is_Active|yesno:"Sim,Não" }}</td>
                    <td>
                        <!-- <a href="{% url 'updateSituation' id_situation=Situation.id %}">
                            <button>Editar</button>
                        </a>
                        <button class="delete-button" data-id="{{ Situation.id }}">Deletar</button>
                        {% comment %} <a href="{% url 'deleteSituation' id_situation=Situation.id %}">
                            <button>Deletar</button>
                        </a> {% endcomment %} -->
                        <a href="{% url 'updateSituation' id_situation=Situation.id %}">
                            <button class="btn" style="background-color: #117027;color: white;">Editar</button>
                        </a>
                        <form action="{% url 'deleteSituation' id_situation=Situation.id %}" method="POST" style="display:inline-block;">
                            {% csrf_token %}
                            <button type="submit" class="btn" style="background-color: rgb(139, 16, 16);color: white;" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</button>
                        </form>
                        <!-- {% comment %} <button>Mais</button> {% endcomment %} -->
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> 
        {% endblock %}

        {% block script %}
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        {% endblock %}
    </body>
    </html>
