{% extends 'login/menu.html' %}
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
            <link rel="stylesheet" href="{% static 'css/Forms.css' %}">
            <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
        {% endblock %}
        <title>Formulário</title>
        {% bootstrap_css %}
    </head>
    <body>
        <main>
            {% bootstrap_messages %}
            {% block content %}
                <div class='center col'>
                    <form action="." method='post' autocomplete='off' class="row">
                        {% csrf_token %}
                        <div class="col d-flex gap-4 ">
                            <a href="{% url 'Situation' %}">
                                <button type="button" class="btn btn-voltar">
                                    <i class="fas fa-arrow-left"></i> 
                                </button>
                            </a> 
                        </div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-4 col-md-6 col-sm-8 col-10">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <h5 class="card-title">Situação Personalizada</h5>
                        
                                            <div class="mt-4">
                                                <label for="" class="">
                                                    {{Situation.name_Situation.label_tag}}
                                                </label>
                                                <div class="p-2 ">
                                                      {{Situation.name_Situation}}
                                                </div>
                                            </div>

                                            <div class="mt-4">
                                                <label for="">VENDAS</label>
                                                <div class="p-2 ">
                                                    {{permitions.V_data_da_venda.label_tag}}
                                                    {{permitions.V_data_da_venda}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_product_total.label_tag}}
                                                    {{permitions.V_product_total}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_discount_total.label_tag}}
                                                    {{permitions.V_discount_total}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_apply_credit.label_tag}}
                                                    {{permitions.V_apply_credit}}
                                                </div>
                                            
                                                <div class="p-2 ">
                                                    {{permitions.V_value_apply_credit.label_tag}}
                                                    {{permitions.V_value_apply_credit}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_product.label_tag}}
                                                    {{permitions.V_product}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_quantidade.label_tag}}
                                                    {{permitions.V_quantidade}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_preco_unitario.label_tag}}
                                                    {{permitions.V_preco_unitario}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_discount.label_tag}}
                                                    {{permitions.V_discount}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_price_total.label_tag}}
                                                    {{permitions.V_price_total}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_forma_pagamento.label_tag}}
                                                    {{permitions.V_forma_pagamento}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_expirationDate.label_tag}}
                                                    {{permitions.V_expirationDate}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_valor.label_tag}}
                                                    {{permitions.V_valor}}
                                                </div>
                                                
                                                <label for="">Ordem de Serviço</label>
                                                <div class="p-2 ">
                                                    {{permitions.V_data_da_venda.label_tag}}
                                                    {{permitions.V_data_da_venda}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_product_total.label_tag}}
                                                    {{permitions.V_product_total}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_discount_total.label_tag}}
                                                    {{permitions.V_discount_total}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_apply_credit.label_tag}}
                                                    {{permitions.V_apply_credit}}
                                                </div>
                                            
                                                <div class="p-2 ">
                                                    {{permitions.V_value_apply_credit.label_tag}}
                                                    {{permitions.V_value_apply_credit}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_product.label_tag}}
                                                    {{permitions.V_product}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_quantidade.label_tag}}
                                                    {{permitions.V_quantidade}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_preco_unitario.label_tag}}
                                                    {{permitions.V_preco_unitario}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_discount.label_tag}}
                                                    {{permitions.V_discount}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_price_total.label_tag}}
                                                    {{permitions.V_price_total}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_forma_pagamento.label_tag}}
                                                    {{permitions.V_forma_pagamento}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_expirationDate.label_tag}}
                                                    {{permitions.V_expirationDate}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_valor.label_tag}}
                                                    {{permitions.V_valor}}
                                                </div>
                                                
                                                <label for="">Compras</label>
                                                <div class="p-2 ">
                                                    {{permitions.V_data_da_venda.label_tag}}
                                                    {{permitions.V_data_da_venda}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_product_total.label_tag}}
                                                    {{permitions.V_product_total}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_discount_total.label_tag}}
                                                    {{permitions.V_discount_total}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_apply_credit.label_tag}}
                                                    {{permitions.V_apply_credit}}
                                                </div>
                                            
                                                <div class="p-2 ">
                                                    {{permitions.V_value_apply_credit.label_tag}}
                                                    {{permitions.V_value_apply_credit}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_product.label_tag}}
                                                    {{permitions.V_product}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_quantidade.label_tag}}
                                                    {{permitions.V_quantidade}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_preco_unitario.label_tag}}
                                                    {{permitions.V_preco_unitario}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_discount.label_tag}}
                                                    {{permitions.V_discount}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_price_total.label_tag}}
                                                    {{permitions.V_price_total}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_forma_pagamento.label_tag}}
                                                    {{permitions.V_forma_pagamento}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_expirationDate.label_tag}}
                                                    {{permitions.V_expirationDate}}
                                                </div>
                                                
                                                <div class="p-2 ">
                                                    {{permitions.V_valor.label_tag}}
                                                    {{permitions.V_valor}}
                                                </div>
                                                
                                                
                                            </div>
                        
                                            <div class="p-4">
                                                <button type="submit" class="btn  bg-adapted w-50">Cadastrar</button>   
                                            </div>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </form>
                </div>
            {% endblock %}
        </main>
        
        
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </body>
</html>
