{% extends 'global_template/menu.html' %}
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/Forms.css' %}">
    {% endblock %}
    <title>{% if venda.pk %}Editar{% else %}Criar{% endif %} Venda</title>
    {% bootstrap_css %}
</head>
<body>
    <main>
        {% bootstrap_messages %}
        {% block content %}
        <div class='content'>
            <div class='center'>
                <h2>{% if venda.pk %}Editar{% else %}Criar{% endif %} Venda</h2>

                <form method="post">
                    {% csrf_token %}
                
                    <!-- Formulário de Venda -->
                    <h3>Dados da Venda</h3>
                    {{ venda_form.as_p }}
                
                    <!-- Itens de Venda -->
                    <h3>Itens de Venda</h3>
                    <div id="itens-container">
                        {{ venda_item_formset.management_form }}
                        {% for form in venda_item_formset %}
                            <div class="form-row">
                                {{ form.as_p }}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" onclick="addItem()">Adicionar Item</button>
                
                    <!-- Formas de Pagamento -->
                    <h3>Formas de Pagamento</h3>
                    <div id="payment-method-container">
                        {{ payment_method_formset.management_form }}
                        {% for form in payment_method_formset %}
                            <div class="form-row">
                                {{ form.as_p }}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" onclick="addPaymentMethod()">Adicionar Forma de Pagamento</button>
                
                    <button type="submit">Salvar Venda</button>
                </form>
                
            </div>
        </div>
        <template id="empty-form-template">
            <div class="form-row">
                <!-- Clona o formulário vazio de venda_item_formset -->
                {{ venda_item_formset.empty_form.as_p }}
            </div>
        </template>
        
        <template id="empty-payment-method-form">
            <div class="form-row">
                <!-- Clona o formulário vazio de payment_method_formset -->
                {{ payment_method_formset.empty_form.as_p }}
            </div>
        </template>
        {% endblock %}
        
        <script src="{% static 'js/cep_api.js' %}"></script>
        <script src="{% static 'js/addItem.js' %}" defer></script>
    </main>
</body>
</html>
