{% extends 'global_template/menu.html' %}
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
            <link rel="stylesheet" href="{% static 'css/Forms.css' %}">
        {% endblock %}
        <title>Formulário</title>
        {% bootstrap_css %}
    </head>
    <body>
        <main>
            {% bootstrap_messages %}
            {% block content %}
            <div class='content'>
                <div class='center'>
                    <h2>{% if venda_form.instance.pk %}Editar{% else %}Criar{% endif %} Venda</h2>

                    <form method="post" id="vendaForm">
                        {% csrf_token %}
                        
                        <!-- Formulário de Venda -->
                        <div>
                            {{ venda_form.as_p }}
                        </div>
                    
                        <!-- Formulário de Itens de Venda -->
                        <div id="itemsContainer">
                            <h3>Itens da Venda</h3>
                            
                            <!-- Renderiza os campos para os itens da venda (VendaItemForm) -->
                            {{ formset.management_form }}
                            <div id="itens-container">
                                {% for form in formset %}
                                    <div class="form-row">
                                        {{ form.as_p }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    
                        <!-- Botão para adicionar mais itens -->
                        <button type="button" id="addItemButton">Adicionar Item</button>
                        
                        <button type="submit">Salvar</button>
                    </form>
                </div>
            </div>
            <script src="{% static 'js/addItem.js' %}"></script>
            {% endblock %}
        </main>
    </body>
</html>