{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block css %}
        <meta name="csrf-token" content="{{ csrf_token }}">

        <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}
        <div class='content'>
            <div class="container">
                <a href="{% url 'Accounts_Create' %}">
                    <button class="btn btn-success">Cadastrar</button>
                </a>
                <div class="form-group">
                    <form method="GET" action="{% url 'Accounts' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <label for="" class="">{{form.search.label}}</label>
                                {{form.search}}
                                <div class="col-sm-8" id="search_client">
                                    <input type="text" id="searchInput"  class="search-input" value="{{ request.GET.query }}"> <!-- onkeyup="searchInput()" -->
                                </div>
                            </div>
                            <div class="col">
                                <!-- <button type="submit" class="btn btn-primary mt-4">Pesquisar</button> -->
                            </div>
                        
                        </div>
                    </form>
                </div>
            </div>
            <div id="messageContainer"></div>  <!-- Contêiner para a mensagem -->
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Data de Vencimento</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="results">
                {% for account in accounts.object_list %}
                <tr>       
                    <td>{{ account.id }}</td>
                    {% if account.conta.pessoa_id.id_FisicPerson_fk %}
                        <td>{{ account.conta.pessoa_id.id_FisicPerson_fk.name }}</td>
                    {% elif account.conta.pessoa_id.id_LegalPerson_fk %}
                        <td>{{ account.conta.pessoa_id.id_LegalPerson_fk.fantasyName }}</td>
                    {% elif account.conta.pessoa_id.id_ForeignPerson_fk %}
                        <td>{{ account.conta.pessoa_id.id_ForeignPerson_fk.name_foreigner }}</td>
                    {% else  %}
                        <td>{{ account.conta.name }}</td>
                    {% endif %}
                    <td>{{ account.expirationDate|date:"d/m/Y" }}</td>
                    <td>{{ account.value }}</td>
                    <td>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="paginationContainer">
                {% if accounts.has_previous %}
                <a href="{% url 'Accounts' %}?page={{ accounts.previous_page_number }}&query={{ query }}">Anterior</a>
                {% endif %}
                {% if accounts.has_next %}
                <a href="{% url 'Accounts' %}?page={{ accounts.next_page_number }}&query={{ query  }}">Proximo</a>
                {% endif %}
            </div>
        </div> 
        {% endblock %}
        {% block scripts %}
        <script src="{% static 'js/search_client.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        {% endblock %}
    </body>
</html>