{% extends 'login/menu.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/Forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="center col">
        <a href="
        {% if tipo_conta == "Pagar" %}        
            {% url 'AccountsPayable' %}
        {% elif tipo_conta == "Receber" %}
            {% url 'AccountsReceivable' %}
        {% else %}
            /
        {% endif %}
        ">
            <button class="btn btn-voltar">Voltar</button>
        </a>    
        <form method="POST">
            {% csrf_token %}

            <h4 class="mt-5 mb-5 c-adapted">Cadastro de {{Contas}} </h4>

            {{ form_Accounts.pessoa_id.label }}
            {{ form_Accounts.pessoa_id }}

            {{ form_Accounts.chartOfAccounts.label }}
            {{ form_Accounts.chartOfAccounts }}

            {{ form_Accounts.documentNumber.label }}
            {{ form_Accounts.documentNumber }}

            {{ form_Accounts.date_account.label }}
            <div class="input-group date" data-provide="datepicker" id="payment_method">
                {{ form_Accounts.date_account }}
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
            
            {% include 'parcela.html' %}

            <br><br>
            <div class="row">
                <div class="col text-end">
                    <button type="submit" class="btn bg-adapted">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="{% static 'js/additem.js' %}"></script>

{% endblock %}