{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <meta name="csrf-token" content="{{ csrf_token }}">
        <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}
        <div class='content'>
            <div class='center col'>
                
            </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="container">
            <a href="{% url 'Cash_registry' %}">
                <button class="btn btn-success">Cadastrar</button>
            </a>
        </div>
        <div id="messageContainer"></div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Data de Abertura</th>
                        <th>Status de Caixa</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="results">    
                {% for registry in cash %}
                <tr>
                    <td>{{ registry.id }}</td>
                    <td>{{ registry.usuario_responsavel }}</td>
                    <td>{{ registry.criado_em|date:'d/m/Y' }}</td>
                    <td>{{ registry.is_Active|yesno:"Aberto,Fechado" }}</td>
                    <td>{{ registry.saldo_final }}</td>
                    <td>
                        {% comment %} 
                        <a href="{% url 'updatePaymentMethod' id_paymentMethod=PaymentMethod.id %}">
                            <button class="btn" style="background-color: #1e55af;color: white;">Visualizar</button>
                        </a>
                        <a href="{% url 'updatePaymentMethod' id_paymentMethod=PaymentMethod.id %}">
                            <button class="btn" style="background-color: #117027;color: white;">Fechar Caixa</button>
                        </a>
                        <form action="{% url 'deletePaymentMethod' id_paymentMethod=PaymentMethod.id %}" method="POST" style="display:inline-block;">
                            {% csrf_token %}
                            <button type="submit" class="btn" style="background-color: rgb(139, 16, 16);color: white;" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">Deletar</button>
                        </form>
                        {% endcomment %}
                        {% comment %} <button>Deletar</button> {% endcomment %}
                        {% comment %} <button>Mais</button> {% endcomment %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="paginationContainer">
                {% if payments.has_previous %}
                <a href="{% url 'PaymentMethod' %}?page={{ paymentsMethod.previous_page_number }}&query={{ query }}">Anterior</a>
                {% endif %}
                {% if payments.has_next %}
                <a href="{% url 'PaymentMethod' %}?page={{ paymentsMethod.next_page_number }}&query={{ query  }}">Proximo</a>
                {% endif %}
            </div>
        </div> 
        {% endblock %}

        {% block scripts %}
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/search_payment.js' %}"></script>
        {% endblock %}
    </body>
</html>
