{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <meta name="csrf-token" content="{{ csrf_token }}">
        <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}
        <div class='content'>
            <div class='center col'>
                <div class="container">
                
                </div>
            </div>
        <div id="messageContainer"></div>
        
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descrição</th>
                        <th>Data</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody id="results">    
                {% for registry in CashMovement %}
                <tr>
                    {% if registry.accounts_in_cash.conta %}
                        <td>{{ registry.accounts_in_cash.conta.id }}</td>
                    {% elif registry.accounts_in_cash.venda %}
                        <td>{{ registry.accounts_in_cash.venda.id }}</td>
                    {% elif registry.accounts_in_cash.ordem_servico %}
                        <td>{{ registry.accounts_in_cash.ordem_servico.id }}</td>
                    {% elif registry.accounts_in_cash.compra %}
                        <td>{{ registry.accounts_in_cash.compra.id }}</td>
                    {% endif %}
                    <td>{{ registry.accounts_in_cash.conta.description }}</td>
                    <td>{{ registry.created_at}}</td>
                    <td>{{registry.accounts_in_cash.value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% endblock %}
        </body>
        </html>
